html {
  min-height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  user-select: none;
}
/* header {
  display: flex;
} */
h1 {
  font-weight: 400;
  text-align: center;
}
h2 {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.metronome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.metronome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
}

.bpm-display {
  text-align: center;
  font-weight: bold;
}

.tempo-settings {
  display: flex;
  justify-content: space-around;
}

/* REMOVE SLIDER STYLE FIRST */
input[type="range"] {
  appearance: none;
  background-color: transparent;
  width: 80%;
}
/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
} */
input[type="range"]:focus {
  outline: none;
}

/* ADD STYLE AFTER */
input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  border: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  background-color: black;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  background-color: black;
  cursor: pointer;
}

.tempo-settings .adjust-tempo-btn {
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
  background-color: black;
  color: white;
}

.start-stop {
  background-color: #6f86d6;
  color: white;
  align-self: center;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.start-stop:hover {
  cursor: pointer;
  background-color: #384e9d;
}
.countdown {
  background-color: #6f86d6;
  color: white;
  align-self: center;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.countdown:hover {
  cursor: pointer;
  background-color: #384e9d;
}

.measures {
  display: flex;
  justify-content: center;
}

.measures .stepper {
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.measures .stepper:hover {
  background: black;
  color: white;
}

.pulse-container {
  display: flex;
}

.pulse {
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
}

.pulse-first {
  background-color: red;
}

.pulse-other {
  background-color: #6f86d6;
}

.form-and-text-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lyric-result.edit {
  display: none;
}

.lyric-result.play {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editBTN {
  background-color: #6f86d6;
  padding: 0.5rem 2rem;
  color: white;
  align-self: center;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.editBTN:hover {
  cursor: pointer;
  background-color: #384e9d;
}

.lyric-list-container {
  padding: 1rem;
  margin-bottom: 10px;
  text-overflow: clip;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 1rem;
  border-radius: 8px;
  background: #95a3d6;
}

.lyric-list {
  width: 70%;
  list-style: none;
  padding: 0;
  text-align: left;
}

.lyric-list li {
  font-weight: 300;
}

.active {
  background-color: red;
}

.input.play {
  display: none;
}

.input {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input textarea {
  padding: 1rem;
  margin-bottom: 10px;
  resize: none;
  border: none;
  border-radius: 8px;
  color: black;
  background: #95a3d6;
}

.input textarea::placeholder {
  text-align: left;
  font-weight: 500;
  color: black;
}

textarea::-webkit-scrollbar {
  width: 7px;
}
textarea::-webkit-scrollbar-track {
  border-radius: 0 8px 8px 0;
  background-color: #5c6ca3;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 0 8px 8px 0;
  background-color: #384e9d;
}

.input input[type="submit"] {
  background-color: #6f86d6;
  padding: 0.5rem 2rem;
  color: white;
  align-self: center;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}
.input input[type="submit"]:hover {
  cursor: pointer;
  background-color: #384e9d;
}

.error {
  padding: 1rem;
  border: 1px solid red;
  background-color: rgb(249, 121, 121);
  color: white;
  text-align: center;
}

@media (max-width: 1920px) {
  h1 {
    font-size: 5em;
  }
  .main-container {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
  }
  .metronome-container {
    height: 500px;
    width: 50%;
  }
  .bpm-display .tempo {
    font-size: 4em;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 27px;
    height: 27px;
    margin-top: -13.5px;
  }
  input[type="range"]::-moz-range-thumb {
    width: 26px;
    height: 26px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
  }
  input[type="range"]::-moz-range-track {
    height: 2px;
  }
  .tempo-settings .adjust-tempo-btn {
    width: 30px;
    height: 30px;
    font-size: 22px;
    border: 2px solid black;
  }
  .start-stop {
    font-size: 30px;
    padding: 1rem 3rem;
  }
  .countdown {
    font-size: 30px;
    padding: 1rem 2rem;
  }
  .measure-count {
    font-size: 28px;
  }
  .measures .stepper {
    width: 30px;
    height: 30px;
    font-size: 22px;
    border: 2px solid black;
    margin: 0 5px;
  }
  .pulse {
    width: 36px;
    height: 36px;
  }
  .text-container {
    height: 500px;
  }
  .input textarea {
    font-size: 2em;
    height: 300px;
    width: 600px;
  }
  .input textarea::placeholder {
    flex: 0 0 40px;
    font-size: 1em;
  }
  .input input[type="submit"] {
    font-size: 30px;
    padding: 1rem 3rem;
  }
  .editBTN {
    font-size: 30px;
    padding: 1rem 3rem;
  }
  .lyric-list-container {
    height: 300px;
    width: 600px;
  }
  .lyric-list li {
    font-size: 2em;
  }
  .error {
    font-size: 30px;
    padding: 1.7rem;
  }
}

@media (max-width: 1366px) {
  h1 {
    font-size: 2em;
  }
  .main-container {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
  }
  .metronome-container {
    height: 200px;
    width: 20%;
  }
  .bpm-display .tempo {
    font-size: 2em;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    margin-top: -8px;
  }
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 1px;
  }
  input[type="range"]::-moz-range-track {
    height: 1px;
  }
  .tempo-settings .adjust-tempo-btn {
    width: 20px;
    height: 20px;
    font-size: 17px;
    border: 1px solid black;
  }
  .start-stop {
    font-size: 15px;
    padding: 0.5rem 2rem;
  }
  .countdown {
    font-size: 15px;
    padding: 0.5rem 1rem;
  }
  .measure-count {
    font-size: 17px;
  }
  .measures .stepper {
    width: 20px;
    height: 20px;
    font-size: 17px;
    border: 1px solid black;
    margin: 0 5px;
  }
  .pulse {
    width: 20px;
    height: 20px;
  }
  .text-container {
    height: 300px;
  }
  .input textarea {
    font-size: 1.2em;
    height: 200px;
    width: 400px;
  }
  .input textarea::placeholder {
    flex: 0 0 40px;
    font-size: 1em;
  }
  .input input[type="submit"] {
    font-size: 15px;
    padding: 0.5rem 2rem;
  }
  .editBTN {
    font-size: 15px;
    padding: 0.5rem 2rem;
  }
  .lyric-list-container {
    height: 200px;
    width: 400px;
  }
  .lyric-list li {
    font-size: 1.5em;
  }
  .error {
    font-size: 17px;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    margin: 10px auto;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
  }
  .metronome-container {
    height: 120px;
    width: 100%;
    margin-bottom: 15px;
  }
  .bpm-display .tempo {
    font-size: 1.2em;
  }
  .bpm-display .bpm {
    font-size: 0.7em;
  }
  .tempo-settings {
    justify-content: center;
  }
  input[type="range"] {
    width: 50%;
    margin: 0 5px;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    margin-top: -6px;
  }
  input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
  }
  .tempo-settings .adjust-tempo-btn {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }
  .start-stop {
    font-size: 12px;
    padding: 0.3rem 1.5rem;
  }
  .countdown {
    font-size: 12px;
    margin: 3px 0;
    padding: 0.3rem 0.7rem;
  }
  .measure-count {
    font-size: 12px;
  }
  .measures .stepper {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }
  .pulse {
    width: 15px;
    height: 15px;
  }
  .text-container {
    height: 280px;
  }
  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input textarea {
    font-size: 1em;
    height: 180px;
    width: 450px;
  }
  .input textarea::placeholder {
    flex: 0 0 40px;
    font-size: 1em;
  }
  .input input[type="submit"] {
    font-size: 12px;
    padding: 0.3rem 1.5rem;
  }
  .editBTN {
    font-size: 12px;
    padding: 0.3rem 1.5rem;
  }
  .lyric-list-container {
    height: 180px;
    width: 450px;
  }
  .error {
    font-size: 12px;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1em;
  }
  .input textarea {
    font-size: 12px;
    height: 150px;
    width: 250px;
  }
  .input textarea::placeholder {
    flex: 0 0 40px;
    font-size: 12px;
  }
  .lyric-list-container {
    font-size: 12px;
    height: 150px;
    width: 250px;
  }
}
